.title {
  font-size: 32px;
  font-weight: 700;
}

.content {
  width: 100%;
  color: var(--Black, #272727);
  font-family: "SF Pro";
  font-size: 17px;
  line-height: 23px;
  opacity: 0.7;
  word-break: keep-all;
  white-space: pre-wrap;
}
