.section {
  display: flex;
  width: 100%;
  padding: 200px 0px 100px 0px;
  flex-direction: column;
  align-items: center;
  gap: 120px;
}

.top {
  .brand {
    width: 192px;
    height: 48px;
    span {
      font-size: 36px;
    }
    span:nth-child(2) {
      font-weight: 700;
    }
    span:nth-child(3) {
      font-style: italic;
      font-weight: 50;
    }
  }
  .meaning {
    font-size: 24px;
    font-weight: 500;
    opacity: 0.65;
  }
  .description {
    font-size: 36px;
    font-weight: 700;
    line-height: 57px; /* 158.333% */
    span {
      color: var(--Green, #50D890);
    }
  }
}

.button {
  display: flex;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  border-radius: 22px;
  background: var(--Green, #50D890);
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
}
