.nav {
  height: 70px;
  padding: 0px 30px;
  position: fixed;
  top: 0;
  left: 0;
  color: #FFF;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7.5px);
  z-index: 1000;
  transition: background 0.5s, backdrop-filter 0.5s, color 0.5s;
  &.top {
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
  }
  &.out-of-video {
    background: rgba(0, 0, 0, 0.03);
    backdrop-filter: blur(7.5px);
    color: var(--black, #272727);
    .logo {
      filter: invert(100%);
    }
  }
}

.content {
  max-width: 1600px;
  height: 100%;
}

.logo {
  width: 80px;
  height: 20px;
  transition: filter 0.5s;
}

.links {
  list-style: none;
}
