.form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 180px 0 150px 0;
  h1 {
    margin-bottom: 50px;
  }
}

.logo {
  width: auto;
  height: 12px;
  margin-bottom: 7px;
  opacity: 0.7;
}